.root{
    -fx-font-size: 13pt;
    -fx-font-family: "Comic Sans MS";
    -fx-base: rgb(50, 240, 150);
    -fx-background: rgb(50, 240, 150);
}
.button {
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.text-field{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
    -fx-max-width: 589;
    -fx-context-menu-enabled: true;
}